
h2 { 

font-weight: bold; 
line-height: 1; 
text-align: center; 
padding-top:30px;
padding-bottom:20px;
text-shadow:1px 1px 2px rgba(36,36,36,1);
font-weight:normal;
color:#000000;
letter-spacing:1pt;
word-spacing:1pt;
font-size:2em;
font-family:helvetica, sans-serif;

}

.wrapper {
max-width: 1100px;
    margin: 0 auto;
  
  padding-right: 30px; 
  padding-left:  30px; 

    -moz-box-shadow: 10px 9px 15px 10px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 10px 9px 15px 10px rgba(0, 0, 0, 0.58);
    box-shadow: 10px 9px 15px 10px rgba(0, 0, 0, 0.58);
  
  
	    padding-bottom: 20px;
	

}
div{
	text-align:left;
	font-size: 15px; 
	line-height: 1.5; 
}
a:after{ display:block;}
.hover_effect:hover
{
        box-shadow:
               5px 5px 5px 5px rgba(0, 0, 0, 0.3),
               5px 5px 5px 5px rgba(0, 0, 0, 0.3),
               5px 5px 5px 5px rgba(0, 0, 0, 0.3);
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
		
}