<!--/*      Tutorial 7
      Case Problem 4
      Author:Pooja Suresh Katte
      Boise Youth Symphony Orchestra
      Date:   15/10/2016
      Filename:bstyles.css
      Supporting files: 
   */
body{
	font-size:0.9em;
	background-color:#ddd;
	
}
/*for green divs*/
.greencolor{
	
	width:100%;
	background-color: rgb(86, 206, 184);
	margin-bottom: 10px;
	margin-top:25px;
	text-align:justify;
	/*box-shadow: 10px -10px 5px rgba(0,0,0,0.6); */
	
}
/*navigation*/
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
   
	background-color: rgb(86, 206, 184);
	color:black;
	margin-left:40px;
	font-weight:bolder;
}

ul.pagination li a.active {
    background-color: white;
    color: #4CAF50;
    border-radius: 5px;
}
ul.pagination li a:hover:not(.active) {background-color: #ddd;}
.goto
{
	color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.infoclass{
float:left;
width:40%;
margin-left:2%;
}
.rollclass{
	float:left;
	width:25%;
	margin-left:1%;
}
.musicpeice{
	float:left;
	width:20%;
	margin-left:2%;
}
audio{
	width:86%;
	background-color:#ddd;
	display:block;
}
#img1{
	margin-top:21%;
	width:77%;
}
#img2{
	margin-top:-2%;
	width:77%;
}
.headings{
	background-color:white;
}
footer {
	width: 100%;
	clear: left;
   	color: white;
	background-color: rgb(86, 206, 184);
	font-size: 14px;
	text-align: center;
	padding-top: 8px;
	margin-top:34%;
	padding-bottom: 10px;
}

