#slider
{
	width:6000px;
	height:350px;
	overflow:hidden;
	background-color:black;
}
#slider .slides{
	
	display:block;
	margin:0;
	padding:0;
	width:100%;
	height:350px;
	overflow-x: hidden
	
}
#slider .slide{
	
	float:left;
	list-style-type:none;
	width:700px;
	height:350px;
	color:white;
	background: rgb(29,20,11);
	padding:15px;
}
.img
{
	 width:500px;
	 height:200px;
}
body
{
	 overflow: -moz-scrollbars-none;
	 font-family:Imprint MT Shadow;
	 font-size:18px;
}
.dwnmenu{
	float:left;
	margin:10px;
	font-size:16px;
	
}
.dwnimg{
width: 145px;
height: 120px;
margin-top:-70px;

}
.choirdetails{
	width: 145px;
height: 110px;
margin-top:-70px;
color:rgb(255,64,64);
	background:rgb(29,20,11);
display:none;
}
.dwndesp{
	width: 145px;
	float:left;
	margin:10px;
	color:rgb(255,64,64);
	background:rgb(29,20,11);
	height:30px;
	text-align:center;
	font-weight:bolder
	font-size:16px;
}
.container{
	width:100%;
	height:100px;
	background: rgb(255,64,64);
	color:white;
	font-size:16px;
}
.header{
	width:75%;
	float:left;
}
.contactus{
	width:25%;
	float:left;
}
.menu{
	width:100%;
	height:60px;
background: rgb(255,64,64);
}

.listitems{
	float:none;
	text-align:center;
	font-size:20px;
	margin-left:10px;
	color:rgb(29,20,11);
}
a:hover {
    color: #ec9e9e;
}