/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Pooja Katte
   Date:   09/23/2016

   Filename:         papertxt.css
   Supporting Files: 

*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	background: black;
}

p{
	font: 1.2em/2em Tahoma, sans-serif;
	margin-bottom: 10px;
	text-align:justify;
	
	margin-right:10px;
}
 li {
	font: 1.2em/2em Tahoma, sans-serif;
	margin-bottom: 10px;
	text-align:justify;
	list-style-type:none;
	margin-right:15px;
	padding-left: 15px;
	border: 1px solid;
    border-radius: 25px;
}
li:hover{
	background:white;
	
}

h1 {
	font: 2.0em Tahoma, sans-serif;
	color: green;
	height: 30px;
}

h2 {
	font: 1.8em Tahoma, sans-serif;
	color: green;
	margin-bottom: 10px;
}

ul {
	margin-left: 25px;
}

img {
	border: none;
}

#page-wrap {
	background: url(parch2.jpg) repeat;
	min-width: 1000px;
	max-width: 1400px;
	margin: 10px auto;
	position:relative;
	}
	#page-wrap #inside {
		margin: 10px 10px 0px 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
#main-content {
	
	padding-left: 0px;
	padding-top: 10px;
}
	
#header {
	background: black;
	
}
.headerimg{
	
	width:40%;
	height:30%;
	margin-left:200px;
}
	
#left-sidebar {
	background: url(parch.jpg);
	width: 220px;
	float: right;
	/*padding-left: 15px;*/
	padding-top: 10px;
	margin-left:15px;
}
#menu{
	background: url(parch.jpg);
	padding-left: 10px;
	padding-top: 10px;
	margin-left:-50px;
	
}

#footer {
	background: Black;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}
/*slide*/
* {box-sizing:border-box}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 85%;
  width: auto;
  padding: 16px;
  margin-top: -55px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background:black;
}

/* Position the "next button" to the right */
.next {
  right: 18%;
  border-radius: 3px 0 0 3px;
  margin-left: 75%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: green;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  /*position: absolute;*/
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: relative;
	top: 0;
left: 40%;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: green;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
#topstories{
	display:block;
}
#contactus{
	display:none;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: table;
}