div {
    margin:200px;
    width: 100px;
    height: 100px;
    background: blue;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}

div:hover {
    width: 400px;
}