/*
   
   Tutorial 4
   Case Problem 4
   Body systems
   Author: Pooja katte
   Date:   08/28/2016

   Filename:         style4.css
   

*/


body{

font-family:Book Antiqua;
margin:0px;
padding:0px;

}
.bodySys{
	
margin-top: 10px;
    
    width: 500px;
   
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 
.rgt{
	float:right;
	
    
	font-weight:bolder;
	 font-size: 15px;
  
    padding:5px;
}
.imgRgt{

width:250px;
height: 285px;

padding-top:15px;
}
.headings
{
	width:100%;
	height:20%;
	float:left;
}
.txtdata{
    width: 70%;
	height:40%;
    float: left;
    text-align: justify;
    display:block;
    line-height: 1.3em;
    font-size: 1.2em;
	font-weight:bolder;
	font-size: 18px;
	padding: 30px;
}
#menucont{ 
    width: 100%;
	float: left;
	color: #FFF;
	font-weight: bolder;
	font-size: 25px;
	background-image: url("background.png");
	height: 1.5em;
	padding-top: 10px
}
#menu div{ 
     width: 20%;
	float: left;
	color: #FFF;
	font-weight: bolder;
	font-size: 22px;
	background-image: url("background.png");
	text-align: center;
	height: 2em;
}

u{
	font-size: 18px;
	
}
#intext{
	font-size: 16px;
	
}
ul.litems{
    list-style-type: circle;
}
#changecolor {
    
 
    color: Black;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}
#footer{
    position:fixed;
    bottom:0;
	margin-left:300px;
}
	
}
@-webkit-keyframes mymove {
    50% {color: burlywood;}
}


@keyframes mymove {
    50% {color: burlywood;}
}
.hvr-bubble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-bubble-bottom:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  left: calc(50% - 10px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: saddlebrown transparent transparent transparent;
}
.hvr-bubble-bottom:hover:before, .hvr-bubble-bottom:focus:before, .hvr-bubble-bottom:active:before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}