/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Case Problem 4

   Browyer Realty Style Sheet

   Author:     Pooja Suresh katte
   Date:   22/10/2016
   Filename:         brbase.css
   Supporting Files: 

*/

body {
   margin: 10px;
   width: 100%;
}

body * {

  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
   font-size: 100%;
   font-weight: bolder;
   line-height: 1.2em;
   
   margin: 0px;
   padding: 0px;
   

}
article, aside, figure, figcaption, footer, hgroup, header, 
section, nav {
   display: block;
}
