/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Case Problem 4

   Tree and Book Style Sheet

   Author:    Pooja Suresh katte
   Date:   22/10/2016
   Filename:         brlayout.css
   Supporting Files: 

*/
/*navigation*/
ul.topnav {
	 width:99%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}
.headimg{
	width:40%;
	margin-left:30%;
}
#center{
	width:67%;
	float:left;
	padding-left:1%;
	padding-top:1%;
	padding-bottom:1%;
	padding-right:2%;
	color:white;
	text-align:justify;
}
.addrlist{
	width:26%;
	float:left;
	 position: absolute;
    top: 0px;
    left: 0px;
    position: relative;
    z-index: 2;
	color:white;
	padding-left:2%;
	padding-top:1%;
	padding-bottom:3%;
	
}

.viewfig{
	float:left;
	padding-left: 3%;
    padding-bottom: 1%;
	margin-top:2%;
	width: 28%;
}

section.downnav {
  
    margin-top:1%;
}
article h1 {
   font-size: 200%;
   letter-spacing: 3px;
   font-weight: bolder;
   padding-bottom:1%;
   
}
address h1{
	font-size: 150%;
   letter-spacing: 3px;
   font-weight: bolder;
   padding-bottom:2%;
   padding-top:1%;
}
address{
	padding-bottom:1%;
}

table {
   width: 80%;
   border-collapse: collapse;
  
  
   position: relative;
   z-index: 3;
}

table th {
   text-align: left;
   font-weight: normal;
   
}

table td {
   text-align: right;
   
}
figcaption{
-o-transform: rotate(-30deg);
   -moz-transform: rotate(-30deg);
   -webkit-transform: rotate(-30deg);
   -ms-transform: rotate(-30deg);
  transform: rotate3d(50,35,56,52deg);
  color:white;
  font-size:20px;
}
 
.estate{
	width: 61%;
padding-left: 10%;
padding-top: 6%;
padding-right: -5%;
padding-bottom: 0%;
transform: scalex(1.5);
}


footer {
   clear: both;
   font-size: 12px;
   
   padding-bottom: 0.5%;
   padding-top: 0.5%;
   word-spacing: 2%;
   
}

footer span {
   float: right;
   margin-right: 2%;
}
/*@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}*/