/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Case 4

   Mobile Styles
   Author: Pooja Suresh katte
   Date:   22/10/2016

   Filename:  brmobile.css
   Supporting Files: 
*/
#bkimg{
	display:none;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: none;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: none;}

   /* ul.topnav li.right,
    ul.topnav li {float: none;}*/
	.headimg{
	width:40%;
	margin-left:30%;
}


#center{
	width:80%;
	float:left;
	padding-left:1%;
	padding-top:1%;
	padding-bottom:1%;
	padding-right:2%;
	color:blck;
	text-align:justify;
}
.addrlist{
	width:80%;
	float:left;
	 position: absolute;
    top: 0px;
    left: 0px;
    position: relative;
    z-index: 2;
	color:blck;
	padding-left:2%;
	padding-top:1%;
	padding-bottom:3%;
	padding-right:2%;
}

.viewfig{
	float:left;
	padding-left: 3%;
    padding-bottom: 1%;
	margin-top:2%;
	width: 100%;
}
section.downnav {
   width: 98%;
   float: left;
  
   position: relative;
   z-index: 2;
   margin-top:1%;
}
article h1 {
   font-size: 200%;
   letter-spacing: 3px;
   font-weight: bolder;
   padding-bottom:1%;
   
}
address h1{
	font-size: 150%;
   letter-spacing: 3px;
   font-weight: bolder;
   padding-bottom:2%;
   padding-top:1%;
}
address{
	padding-bottom:1%;
}

table {
   width: 80%;
   border-collapse: collapse;
  
  
   position: relative;
   z-index: 3;
}

table th {
   text-align: left;
   font-weight: normal;
   
}

table td {
   text-align: right;
   
}
footer {
   clear: both;
   font-size: 12px;
   
   padding-bottom: 0.5%;
   padding-top: 0.5%;
   word-spacing: 2%;
   
}

footer span {
   float: right;
   margin-right: 2%;
}


@media screen and (orientation: portrait) {


   figure {
      width: 100%;
      margin-bottom: 3%;
   }

   figure img {
      width: 90%;
   }

}



@media screen and (orientation: landscape) {



   figure {
      width: 33%;
      float: left;
      margin-bottom: 3%;
   }

   figure img {
      width: 90%;
   }

}

