.left{
  font-family: "Times New Roman", Times, serif;
    margin: 30px;
    width: 40%;
   
}
h1.title
{
 font-size: 18px;
    color: black;
text-align: center;
 
}
p.txrpara
{
 font-size: 14px;
  text-align: justify;
text-indent: 50px;
font-weight: normal;
}
